@import 'vars';

.orders{
    width: 100%;   
    display: grid;
    height: 100vh;
    place-items: start center;
}

.ordersResume{
    width: 380px;
}

.ordersResume h2{
    margin: 20px;
    // display: none;
    font-size: var(--lg);
}
@media(min-width:768px){

    .orders{
        place-items:center;
    }

    h2{
        display: block;
    }



}